* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.tile {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: -2px;
}

.background {
    background-color: black;
}

.wall {
    background-color: blue;
}

.dot {
    background-color: pink;
}


.hacman {
    background-color: yellow;
}